.main-sidebar {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #333;
}

.touch-icon {
  cursor: pointer;
  margin: 8px 0;
  color: white;
}

.hidden-input {
  display: none;
}

.sidebar-group {
  display: flex;
  flex-direction: column;
}

.sidebar-top {
}

.sidebar-bottom {
}