@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, .app {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

html {
  --track: rgba(0,0,0,0.4);
  --thumb: #f6ad55; /* Tailwind bg-orange-600 */
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--thumb) var(--track);
}
*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: var(--track);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--thumb) ;
  border-radius: 2px;
}

/* TODO Look for tailwind plugins for these */

.h-1\/2 {
  height: 50%;
}

.transform-origin-bc {
  transform-origin: bottom center;
}

.transform-origin-tl {
  transform-origin: top left;
}

